/**
 * Baseado em: arquitetura_php - Weuller Marcos
 * Arquivo: table.css
 * Autor: Weuller Marcos
 * Criado em: 29/06/2020
 */

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: relative;
  right: 50%;
  top: 50%; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.divButtonPedir{
    width: 100%;
    text-align: center;
}

.buttonPedidos {
  background-color: #FF5733;
  border: none;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  border-radius: 50%;
}